.introduce {
    .container {
        margin: 0 auto;
        overflow: hidden;
        .text-muted {
            color: #fff;
            text-align: center;
            font-size: 0.666667rem;
            margin-bottom: 40px;
        }
        .card-deck {
            display: flex;
            flex-direction: column;
            background: #fff;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                margin-bottom: 15px;
                .text-muted {
                    color: #6c757d!important;
                }
                .card-body {
                    flex: 1 1 auto;
                    width:8.4rem;
                    margin:0.8rem;
                    .bd-text-purple-bright {
                        color: #3dcdca;
                        text-align: center;
                        font-weight: 500;
                        height: 5rem;
                        .text-title{
                          font-size:0.5rem;
                          font-family: unset;
                        }
                    }
                    .text-desc{
                      font-size:0.426667rem;
                      line-height: 0.56rem;
                      font-family: unset;
                    }
                    .card-subtitle,
                    .card-text:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}